@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-weight: 600;
  src: url('../fonts/roboto-condensed-v27-latin-600.woff2') format('woff2');
}

:root {
  --color-primary: #2b7fff;
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-black: #000000;
  --color-secondary-gray-dark: #4a4a4a;
  --color-secondary-gray-light: #747272;
  --color-secondary-light: #ffd02b;
  --color-secondary-dark: #011f4a;
}

/* Base */
body {
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-primary);
  border: none;
  border-radius: 32px;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

/* Link */
/*.header-link {
  color: var(--color-primary-dark);
}*/

.header-link:hover {
  color: var(--color-primary);
}

/* Hero-section */
.hero-section {
  color: var(--color-secondary-gray-dark);
}

.section-title {
  color: var(--color-primary-dark);
}
.section-title .accent {
  color: var(--color-primary);
}

/* Description-section */
/*.description-section {
  color: var(--color-primary-dark);
}*/

/* Advantages-section */
.advantages-section {
  color: var(--color-black);
}

/* Procedures-section */
.procedure-card-title {
  color: var(--color-primary-light);
}

/* Footer */
.footer {
  background-color: var(--color-primary-dark);
}

.footer-link {
  color: var(--color-primary-light);
}

.footer-address-link {
  color: var(--color-primary-light);
}

.footer-address-copyright {
  color: var(--color-secondary-gray-light);
}
