@import './utils/fonts';
@import './utils/variables';

@import './base';

@import './utils/utils';

@import './components/buttons';
@import './components/links';
@import './components/header';
@import './components/hero-section';
@import './components/description-section';
@import './components/advantages-section';
@import './components/procedures-section';

.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Section */
.section {
  padding: 48px 0;
}

.section-title {
  margin-bottom: 48px;
  color: var(--color-primary-dark);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
}
.section-title.centered {
  text-align: center;
}

/* Text */
.text-brand {
  color: var(--color-primary);
}

.text-semi-bold {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.text-capitalize {
  text-transform: capitalize;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* Contact-section */
.contact-section {
  padding-bottom: 94px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-section-map {
  width: 605px;
  height: 481px;
  border-radius: 32px;
  border: none;
  margin: auto;
  flex-shrink: 0;
}

.contact-section-form {
  width: 100%;
  max-width: 423px;
  height: 100%;
  padding: 48px 56px;
  background-color: var(--color-primary-dark);
  background-image: url('../images/contact-form-background.png');
  border-radius: 32px;
}

.contact-form-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 32px;
}

/* Footer */
.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 16px;
}

.footer::after {
  position: absolute;
  width: 248px;
  height: 152px;
  bottom: 0;
  right: 0;
  background-image: url('../images/decor-cosmetics.png');
  background-repeat: no-repeat;
  content: '';
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  gap: 20px;
  text-align: left;
}

.footer-logo {
  flex-grow: 1;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.footer-address {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  gap: 20px;
  text-align: left;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.footer-socials {
  margin-top: 16px;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
}

.footer-socials-icon {
  fill: var(--color-primary-light);
}

/*.footer-socials-icon:hover {
  fill: var(--color-primary-light);
}*/

.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
  white-space: nowrap;
}

.footer-address-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.footer-address-copyright {
  color: var(--color-secondary-gray-light);
  font-size: 13px;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 722px;
  height: 100%;
  max-height: 680px;
  padding: 42px 144px;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 32px;
  right: 32px;
}

/* Form */

.form-field {
  margin-bottom: 24px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 18px 32px;
  width: 100%;
  font-size: 13px;
  line-height: 1.23;
  border: 2px solid var(--color-secondary-gray-light);
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-primary-light);
}

.form-input:focus {
  background-color: var(--color-secondary-gray-light);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 1.23;
}

.form-button {
  display: block;
  margin: 0 auto 8px;
}
.form-button:hover {
  color: var(--color-primary);
}

.form-terms {
  margin: 0 auto;
  max-width: 210px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-gray-light);
  text-align: center;
}

.form-terms-link {
  color: var(--color-secondary-gray-light);
  text-underline-offset: 2px;
}
