:root {
  --color-primary: #2b7fff;
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-black: #000000;
  --color-secondary-gray-dark: #4a4a4a;
  --color-secondary-gray-light: #747272;
  --color-secondary-light: #ffd02b;
  --color-secondary-dark: #011f4a;
}
