.hero-section {
  padding: 130px 0 180px 0;
  background-image: url('../images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: right -10px center;
  background-size: cover;
  margin-bottom: 43px;
}

.hero-section-title {
  margin-bottom: 40px;
  font-family: Play, sans-serif;
  color: var(--color-primary);
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
}

.hero-section-text {
  margin-bottom: 0;
  color: var(--color-secondary-gray-dark);
  font-size: 12px;
  line-height: 1.5;
}

.hero-section-title-text {
  margin-bottom: 16px;
  color: var(--color-primary-dark);
}
