.form-field {
  margin-bottom: 24px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 18px 32px;
  width: 100%;
  font-size: 13px;
  line-height: 1.23;
  border: 2px solid var(--color-secondary-gray-light);
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-primary-light);
}

.form-input:focus {
  background-color: var(--color-secondary-gray-light);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 1.23;
}

.form-button {
  display: block;
  margin: 0 auto 8px;
}
.form-button:hover {
  color: var(--color-primary);
}
