.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.procedure-list {
  margin: 0 0 32px 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  overflow: hidden;
}

.procedure-item {
  flex: 0 0 auto;
}

.procedure-card {
  height: 456px;
  width: 344px;
  padding-bottom: 32px;
  border-radius: 4px 120px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    var(--color-primary-dark) 101.39%
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.3s;
}

.procedure-card:hover {
  transform: translateY(-10px);
}
.procedure-card-title {
  color: var(--color-primary-light);
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
