.form-terms {
  margin: 0 auto;
  max-width: 210px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-gray-light);
  text-align: center;
}

.form-terms-link {
  color: var(--color-secondary-gray-light);
  text-underline-offset: 2px;
}
